<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexuslink">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 计步权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 地图权限 -->
    //地图SDK（包含其搜索功能）需要的基础权限
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="ACCESS_FINE_LOCATION" />
    <!--震动-->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/poplog"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.FriendActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf" />

        <!-- 计步 -->
        <service
            android:name=".service.StepService"
            android:process=":remote" />

        <activity
            android:name=".ui.activity.MainViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateUnchanged|adjustUnspecified" />
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ea9a725ff880d7bdd907142465ca7392" />

        <activity android:name=".ui.activity.RunActivity" />
        <activity android:name=".ui.activity.RunHouseDetailActivity" />
        <activity
            android:name=".ui.activity.CreateRunHouseActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activity.WeatherActivity" />
        <!-- 计步 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".ui.activity.WriteMsgActivity" />
        <!-- 图片跳转Activity -->


        <!-- 到点通知 -->
        <service
            android:name=".service.AlarmService">
        </service>
        <receiver android:name=".broadcast.AlarmReceiver"
            ></receiver>


        <receiver android:name=".broadcast.AlarmReceiver" />

        <activity android:name=".ui.activity.ViewImageShowActivity" />
        <activity android:name=".ui.activity.FriendInfoActivity" />
        <activity android:name=".ui.activity.AlterActivity" />
        <activity
            android:name=".ui.activity.AlterPhotoActivity"
            android:theme="@style/ChoosePhotoStyle" />
        <activity android:name=".ui.activity.RankActivity" />
        <activity android:name=".ui.activity.AchievementActivity" />
        <activity android:name=".ui.activity.TaskActivity" />
        <activity
            android:name=".ui.activity.SignInActivity"
            android:theme="@style/TranslucentBar" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
       <!--<meta-data-->
            <!--android:name="com.google.android.gms.version"-->
            <!--android:value="@integer/google_play_services_version" />-->

        <activity
            android:name=".ui.activity.ArticleDetailActivity"
            android:windowSoftInputMode="stateUnchanged|adjustUnspecified" />
        <activity android:name=".ui.activity.StepAndRunHistoryActivity" />
        <activity android:name=".ui.activity.RecordShowActivity" />
        <activity android:name=".ui.activity.PermissionsActivity" />
        <activity
            android:name=".ui.activity.RunHouseResultActivity"
            android:label="@string/title_activity_run_house_result"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>